body {
    .background-pink {
        background-color: pink;
    }

    .border-pink {
        border-color: pink !important;
        border-width: 1rem !important;
    }

    .font-hot-pink {
        color: rgb(241, 92, 162);
    }

    .accordion-button:not(.collapsed){
        background-color: pink !important;
    }

    .titulo {
        border-bottom: 1vh solid rgb(233, 83, 140);
    }
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #hero {
    margin-top: 3%;
     padding: 2rem;
  }

  #educacion {
    padding: 1%;
    background-color: rgb(255, 233, 245);

    ul {
        list-style-type: none;
        margin-top: 1%;
        
    }

    h3 {
        font-weight: bolder;
        margin-bottom: 0;
    }

}

#experiencia {
    margin: 1%;
    padding: 1%;
    button {
        font-weight: bold;
    }
}

#portafolio {
    margin: 1%;
    padding: 1%;

    .border {
        padding: 1%;
    }
}
    